[submodule "pack/main/start/vim-monokai"]
	path = pack/main/start/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "pack/main/start/awesome-vim-colorschemes"]
	path = pack/main/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
