[submodule "pack/main/start/awesome-vim-colorschemes"]
	path = pack/main/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "pack/main/start/coc-nvim"]
	path = pack/main/start/coc-nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/main/start/vim-airline"]
	path = pack/main/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/main/start/vim-airline-themes"]
	path = pack/main/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "/home/frey/.vim/pack/plugins/start/lightline"]
	path = /home/frey/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/main/start/lightline"]
	path = pack/main/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/main/start/vim-template"]
	path = pack/main/start/vim-template
	url = git@github.com:aperezdc/vim-template.git
